*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.2rem;
}

main h1{
    margin: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

main >h3{
    font-size: 1.4rem;
    text-align: right;
    margin: 10px;
    font-weight: 600;
    color: grey;
}

main h5{
    text-align: right;
    font-weight: 200;
    margin-right: 30px;
    font-size: 1rem;
    color: grey;
}
main h2{
    font-weight: 700;
    font-size: 1.7rem;
    margin: 10px;
    text-align: center;
}
main p{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 20px 10px 20px;
}
#img{
    display: grid;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}
#img figcaption{
    display: block;
    justify-self: center;
    margin-top: -100px;
    font-style: italic;
}
#knowledge-map{
    cursor: pointer;
    object-fit: contain;
    width: 70%;
    padding: 12px;
    border-radius: 50px;
    transition: transform .1s;
    margin: 100px;

}  
#knowledge-map:hover{
    transition: scale(1rem);
}

h3{
    margin: 10px;
    text-align: center;
}

footer{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
}

footer hr{
    width: 100%;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 5px;
}
footer ul {
    display: block;
}

footer ul li{
    list-style: none;
    margin-bottom: 5px;
}


@media screen and (max-width: 750px)
{
    *{
        margin: 0;
        padding: 0;
    }   
    body{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(255, 255, 250)
    }
    main{
        max-width: 28.4rem;
    }
    main > h1
    {
        margin: 10px;
    }
    #img{
        padding: 10px;
        display: grid;
        justify-self: center;
    }

    #img figcaption{
        margin-top: -1.6rem;
        margin-left: 10px;
        justify-self: center;
        font-style: italic;
    }
    #knowledge-map{
        margin: 1rem;
        padding: 18px;
        object-fit: contain;
        width: 100%;
        border-radius: 50px;
    }
    footer{
        margin-bottom: 10px;
    }
    footer p {
        margin: 5px;
    }

    footer ul li{
        list-style: none;
        margin-bottom: 5px;
    }

}

