*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1{
    margin: 10px;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}

main >h3{
    font-size: 1.4rem;
    text-align: right;
    margin: 10px;
    font-weight: 600;
    color: grey;
}

main h5{
    text-align: right;
    font-weight: 200;
    margin: 10px;
    font-size: 1rem;
    color: grey;
}
main h2{
    font-weight: 700;
    font-size: 1.7rem;
    margin: 10px;
    text-align: center;
}
main p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 20px 10px 20px;

}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
#knowledge-map{
    cursor: pointer;
    object-fit: contain;
    width: 70%;
    padding: 12px;
    border-radius: 50px;
    transition: transform .1s;
    margin: 100px;

}  
#knowledge-map:hover{
    transition: scale(1rem);
}

h3{
    margin: 10px;
    text-align: center;
}

footer{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
}

footer hr{
    width: 100%;
}


@media screen and (max-width: 750px)
{
    *{
        margin: 0;
        padding: 0;
    }   
    body{
        min-height: 100vh;
        max-width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        background-color: hsl(212, 105, 100);
    }
    main > h1
    {
        margin: 10px;
    }
    #img{
        padding: 10px;
        margin-left: 180px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #knowledge-map{
        margin: 1rem;
        padding: 18px;
        transform: translateX(-50%);
        object-fit: contain;
        width: 100%;
        border-radius: 50px;
    }
    footer{
        margin-bottom: 10px;
    }

}

